version: "3.9"

services:
  postgres:
    image: postgres:16.2
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: visualartuser
      POSTGRES_PASSWORD: visualartpass
      POSTGRES_DB: visualartdb
