server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/visualartdb
    username: visualartuser
    password: visualartpass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

management:
  endpoints:
    web:
      exposure:
        include: env,health,info
